html {
    width: 100%;
}
body {
    background-color: rgba(10,10,10,1);
    font-family: 'Roboto', sans-serif;
    margin: -5px;
    
    text-align: center;

    display: column;
    align-items: center;
    justify-content: center;

}